<div class="jumbotron text-center">
<h1 class="display-3">{{title}} </h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit praesentium suscipit ab sed qui possimus totam amet minima sint officia, id corrupti ad perferendis numquam dolor porro, illum laudantium mollitia.</p>
<a href="/ideas/boutique" class="btn btn-dark btn-lg">Voir la boutique</a>
</div>
    <h1 class="text-center">Découvre les nouveautes</h1>
<div class="row">
</div>