
<div class="card card-body">
<h3>Ajouter un article</h3>
<form action="/ideas" method="post">
    <div class="form-group">
        <label for="title">Article</label>
        <input type="text" name="title" class="form-control">
        <label for="title">Prix</label>
        <input type="text" name="title" class="form-control">
        <label for="title">Taille</label>
        <input type="text" name="title" class="form-control">
    </div>
     <div class="form-group">
        <label for="details">Description</label>
        <textarea name="details" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Ajouter</button>
</form>

</div>